!!!
%head
  %meta{:charset => "UTF-8"}/
  %title 地酒仁藤
  %meta{:content => "地酒仁藤", :name => "keywords"}/
  / %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %meta{:content => "telephone=no", :name => "format-detection"}/
  %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  / %link{rel: "stylesheet", type: "text/css", href: "http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css"}
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/

  / %script{:src => "js/jquery-2.1.0.min.js"}
  / %script{:src => "js/init.js"}
%body
  #container.clearfix
    #side-bar
      %a{href: '.'}
        %img#label-img{src: "img/label.png", alt: "仁藤"}
      #links.clearfix
        .link.rei
          %a{href: './'}
            %img{src: "img/rei.png", alt: "rei"}
        .link.charm
          %a{href: './charm.html'}
            %img{src: "img/charm.png", alt: "charm"}
        .link.takumi
          %a{href: './takumi.html'}
            %img{src: "img/takumi.png", alt: "takumi"}
        .link.info.selected
          %a{href: './info.html'}
            %img{src: "img/info.png", alt: "info"}
      #dentsu-logo
        %a{href: 'http://www.dentsu.co.jp'}
          %img{src: "img/dentsu.png", alt: "dentsu"}
      #side-footer
        .link
          %a{href: '#'} ご購入はこちら
        .link
          %a{href: '#'} プライバシーポリシー
        .link
          %a{href: '#'} お問い合わせ
    #main
      #info
        %video#player{controls: true, autoplay: true, width: "800", height: "auto"}
          %source{src: "mov/nitou.mp4"}
